@using AudioClickRepair.Data

<div class="d-flex">
    <div class="btn-group-vertical float-left" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-primary" disabled>Beginning</button>
        <button type="button" class="btn btn-outline-primary" @onclick="@ExpandLeft">&larr;Wider</button>
        <button type="button" class="btn btn-outline-primary" @onclick="@ShrinkLeft">Shorter&rarr;</button>
    </div>

    <button type="button" class="btn btn-outline-primary align-self-center w-100" @onclick="@ChangeAproved">On/Off</button>

    <div class="btn-group-vertical float-right" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-primary" disabled>End</button>
        <button type="button" class="btn btn-outline-primary" @onclick="@ExpandRight">Wider&rarr;</button>
        <button type="button" class="btn btn-outline-primary" @onclick="@ShrinkRight">&larr;Shorter</button>
    </div>
</div>

<div class="text-center">
    <p>Use the controls above to change this click length or to exclude (include) it from (into) the output file</p>
    <ClickWindow @ref="_clickWindow" Click="@AudioPatch" Width="300" Height="200" />
</div>

@code {
    [Parameter]
    public Patch AudioPatch { get; set; }

    private ClickWindow _clickWindow;

    private void ChangeAproved(MouseEventArgs e)
    {
        AudioPatch?.ChangeApproved();
        _clickWindow.Draw();
    }

    private void ShrinkLeft(MouseEventArgs e)
    {
        AudioPatch?.ShrinkLeft();
        _clickWindow.Draw();
    }

    private void ExpandLeft(MouseEventArgs e)
    {
        AudioPatch?.ExpandLeft();
        _clickWindow.Draw();
    }

    private void ExpandRight(MouseEventArgs e)
    {
        AudioPatch?.ExpandRight();
        _clickWindow.Draw();
    }

    private void ShrinkRight(MouseEventArgs e)
    {
        AudioPatch?.ShrinkRight();
        _clickWindow.Draw();
    }
}
